:root {
    --primary: white;
    --grey: rgb(175, 175, 175);
}

#dashboard {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 25px;
    padding: 20px;
}

.column-box {
    border: 2px solid var(--grey);
    border-radius: 10px;
}

.summary {
    padding: 20px;
}

.summary > .summary-title {
    margin-top: 0;
}

.summary-action-btngroup {
    display: flexbox;
    flex-direction: row;
    column-gap: 20px;
}

.summary-action-btngroup > button {
    min-width: 100px;
    margin: 5px;
}

.currency {
    font-size: 1ch;
}

.balance {
    font-size: 2.5ch;
}

.flow-column {
    /* width: 100%; */
}

.flowItem {
    max-width: 100%;
    padding: 20px;
}

.flowItem > .balance {
    margin: 0;
}

.flowItem-address {
    color: var(--grey);
    font-size: 1ch;
    margin: 0 0 20px 0;
}

/* Loading Animation */
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    backdrop-filter: blur(5px);
}

/* 
----Elements----
*/

/* Inputs */
input {
    padding: 10px;
    font-size: 1.5ch;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-weight: bold;
}

input.stretch {
    max-width: 100%;
}

/* Buttons */
button {
    padding: 20px;
    font-size: 1.5ch;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

button.blue {
    background-color: rgb(33, 121, 252);
    color: white;
}

button.red {
    background-color: rgb(255, 107, 107);
    color: white;
}

button.yellow {
    background-color: rgb(255, 217, 0);
}
/* Modal */
.modal {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

.modal-box {
    max-width: 600px;
    border: 2px solid var(--grey);
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--primary);
}

.modal-header {
    padding: 10px;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    padding: 10px;
}

.modal-footer > button {
    width: 100%;
}